@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --banamania: #ffe9ac;
  --maxYellowRed: #ffc45f;
  --carrotOrange: #f18f01;
  --vermilion: #c73e1d;
  --jet: #2d2d2d;
  --textColor: #686868;
}

.signupButton {
    cursor: pointer;
    margin: 0px 10px 0px 0px;
    width: 100px;
    height: 30px;
    border: 1px solid var(--jet);
    border-radius: 10px;
    background-color: transparent;
}

.signupButton:focus {
    outline: none;
}

.signupButton:hover {
    border: 1px solid var(--carrotOrange);
    color: var(--carrotOrange);
}