.contactUsSection {
    width: 100%;
    margin: 100px 0px 0px 0px;
}

.contactUsTitleContainer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMediaLinksSection {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}