@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --banamania: #ffe9ac;
  --maxYellowRed: #ffc45f;
  --carrotOrange: #f18f01;
  --vermilion: #c73e1d;
  --jet: #2d2d2d;
}

.heroCoverSection {
  width: 100vw;
  height: 100vh;
  background-image: url('../../images/honeyHomageCoverImage03.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.heroCoverSectionContainer {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.honeyHomageLogo {
  width: 300px;
}

.honeyHomageCoverTitle {
  font-family: 'Nerko One', cursive;
  font-size: 70px;
  color: #fff;
}

/* Social Media Links Container */
.socialMediaLinksContainer {
  width: 220px;
  margin: 50px 0px 100px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.socialMediaLinksContainer a {
  text-decoration: none;
  font-size: 30px;
  color: var(--jet);
}

.socialMediaLinksContainer a:hover {
  color: var(--maxYellowRed);
}

/* Hero Cover Buttons */
.heroCoverButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
}

.shopButton {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin: 0px 10px 0px 10px;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--jet);
}

.shopButton:hover {
  background-color: var(--maxYellowRed);
  color: var(--jet);
}

.shopButton:focus {
  outline: none;
}
