@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

:root {
  --banamania: #ffe9ac;
  --maxYellowRed: #ffc45f;
  --carrotOrange: #f18f01;
  --vermilion: #c73e1d;
  --jet: #2d2d2d;
}

.heroCoverSection {
  width: 100vw;
  height: 100vh;
  background-image: url('../../images/honeyHomageCoverImage03.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.honeyHomageLogo {
  width: 300px;
}

.honeyHomageCoverTitle {
  font-family: 'Nerko One', cursive;
  font-size: 70px;
  color: #fff;
}

/* Social Media Links Container */
.socialMediaLinksContainer {
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.socialMediaLinksContainer a {
  text-decoration: none;
  font-size: 30px;
  color: var(--jet);
}

.socialMediaLinksContainer a:hover {
  color: var(--maxYellowRed);
}
