@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --banamania: #ffe9ac;
  --maxYellowRed: #ffc45f;
  --carrotOrange: #f18f01;
  --vermilion: #c73e1d;
  --jet: #2d2d2d;
  --textColor: #686868;
}

.adminButton {
  font-family: 'Montserrat', sans-serif;
  color: var(--jet);
  cursor: pointer;
  margin: 0px 10px 0px 0px;
  width: 130px;
  height: 40px;
  font-size: 15px;
  border: 2px solid var(--jet);
  border-radius: 10px;
  background-color: transparent;
}

.adminButton:focus {
  outline: none;
}

.adminButton:hover {
  border: 2px solid var(--carrotOrange);
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--carrotOrange);
}
