@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

:root {
  --banamania: #ffe9ac;
  --maxYellowRed: #ffc45f;
  --carrotOrange: #f18f01;
  --vermilion: #c73e1d;
  --jet: #2d2d2d;
}

.honeyHomageNavBar {
  background-color: #fff;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.honeyHomageNavBar section {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Nav Bar Logo Area */
.navLogoContainer {
  width: 330px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.honeyHomageNavLogo {
  width: 60px;
}

.navLogoContainer a {
  text-decoration: none;
  font-family: 'Nerko One', cursive;
  font-size: 35px;
  cursor: pointer;
  margin: 0px 20px 0px 20px;
  color: var(--carrotOrange);
}

/* Nav Bar Links Area */
.navLinkContainer {
  width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.navLinkContainer a {
  text-decoration: none;
  margin: 0px 10px 0px 10px;
  color: var(--carrotOrange);
}

.navLinkContainer a:hover {
  color: var(--jet);
}

/* Nav Bar Social Media Links Area */
.navUserContainer {
  width: 330px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.navUserContainer a {
  text-decoration: none;
  margin: 0px 0px 0px 15px;
  font-size: 20px;
  color: var(--carrotOrange);
}

.navUserContainer a:hover {
  color: var(--jet);
}
